
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif; 
}


:root {
    --color-orange: #ff8c00; 
    --color-blue: #00c7e2;   
    --color-dark: #1a1a1a;   
    --color-light-gray: #f0f0f0; 
}

body {
    background-color: var(--color-dark);
    color: var(--color-light-gray);
    line-height: 1.6;
}


.main-header {
    background-color: #0d0d0d;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--color-orange);
}

.logo-text {
    font-size: 2.5em;
    color: var(--color-orange);
    text-shadow: 3px 3px 0px #000; 
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li a {
    color: var(--color-light-gray);
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 5px;
}

.nav-menu li a:hover {
    color: var(--color-dark);
    background-color: var(--color-blue); 
}

.hero-section {
    background: url('caminho/para/imagem-de-fundo-fortnite.jpg') center center / cover no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 5px solid var(--color-blue);
    position: relative;

}
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
}

.hero-content {
    z-index: 10; 
}

.hero-content h2 {
    font-size: 4em;
    color: white;
    text-shadow: 4px 4px 0px var(--color-orange); 
}

.cta-button {
    background-color: var(--color-orange);
    color: var(--color-dark);
    border: 3px solid var(--color-dark);
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: var(--color-blue);
    border-color: var(--color-orange);
}


.info-section {
    padding: 60px 50px;
    text-align: center;
}

.info-section h3 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: var(--color-orange);
    border-bottom: 2px solid var(--color-blue);
    display: inline-block;
    padding-bottom: 5px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.info-card {
    background-color: #2c2c2c;
    border: 3px solid var(--color-blue);
    padding: 30px;
    width: 30%;
    text-transform: uppercase;
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(0, 199, 226, 0.5); 
    transition: transform 0.3s;
}

.info-card:hover {
    transform: translateY(-5px); 
    background-color: #383838;
}

.dark-bg {
    background-color: #0f0f0f;
}

.main-footer {
    background-color: #0a0a0a;
    text-align: center;
    padding: 20px;
    font-size: 0.8em;
    color: #888;
    border-top: 1px dashed var(--color-orange);
}